body{
    background-color:black;
    color:white;
    
}
nav{
    display : block;
    border-collapse: collapse;
    text-align:center;
    background-color:orange;
    width:100%;
    height:auto;
}
nav a{
    text-decoration:none;
    color:white;
    border:1px solid white;
    padding:5px;
    margin:0px;
    background-color:orange;
    
}