html{
    background-color:lightgrey;
}
body{
    border:0px;
    margin:0px;
}
#nav-bar{
    background-color:black;
    width:100%;
    height:50px;
    
}
#nav-bar ul li{
    display:inline;
    color:white;
    padding:5px;
    border:1px solid white;
    
}