body{
    background-color:black;
    color:white;
    border:0;
    margin:0;
    background-image:url("http://images.akamai.steamusercontent.com/ugc/493519450183077598/ED42789B4B4564925B760874F42E05525CEAC9D1/");
}
div{
    display :block;
    height:auto;
    
}
nav{
    display : block;
    border-collapse: collapse;
    text-align:center;
    background-color:orange;
    padding:10px;
    font-family:"Lucida Console", Monaco, monospace;
}
nav a{
    text-decoration:none;
    color:white;
    border:1px solid white;
    padding:5px;
    margin:0;
}
nav a:hover{
    background-color:black;
    color:white;
    font-weight:bold;
}
.main-body{
    margin:100px;
    
}
.main-body img{
    height:400px;
    width:400px;
    border:2px solid white;
    border-radius:8px;
    box-shadow:1px 1px 1px 1px white;
    float:left;
}
.profile-pic{
    float:left;
}
.profile-data{
    margin-left:500px;
    text-align:center;
    padding-top:50px;
    font-family:cursive;
    font-size:x-large;
}
.blog{
    margin:125px;
    border:1px solid white;
    height:300px;
}